<section class='container'>
  <nav class="navbar bg-light">
    <div class="container-fluid">
      <form class="d-flex" >
        <button class="btn btn-outline-success btn-primary me-2" type="button">
          <%= link_to 'Back Budget Type', budget_types_path, class: "text-decoration-none text-white" %>
        </button>
      </form>
      <p class="navbar-brand d-flex">Budget Type <%= @budget_type.name %> </p>
    </div>
  </nav>
  <h3 class="display-5 border-bottom padding py-5">Total <%= @budget_type.name %> Affairs <%= "Expenses: $#{@total}" %> </h3>
    <div class="d-grid gap-3">
      <% @affairs.each do |affair| %>
        <div class="p-2 bg-light border">
          <dl class="row">
            <dt class="col-sm-3 text-uppercase text-decoration-none">
              <%= @budget_type.name %>
            </dt>
            <dd class="col-sm-9">
              <h2 class="border-bottom text-uppercase text-decoration-none">
                <%=  affair.name %>
              </h2>
              <p>Total Spent: <%= "$#{affair.amount}" %>.</p>
            </dd>
          </dl>
        </div>
      <%end %>
    </div>
  <div class="card-header d-flex justify-content-between align-items-center">
    <button class=" btn btn-primary btn-blue-col btn-lg mt-5">
      <%= link_to 'Add New Budget Affair', new_budget_type_budget_affair_path(params[:id]), class: "text-decoration-none text-white" %>
    </button>
  </div>
</section>